*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
.container {
    text-decoration-color: beige;
    width: 80%;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #fff;
  }
  
  th {
    background-color:rgb(73, 97, 183) ;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="text"] {
    padding: 5px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 5px 10px;
  }