*{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .biodata {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
    font-size: 18px;
  }
  
  p {
    margin-bottom: 5px;
  }

img{
  display: flex;
  justify-content: center;
  padding: 0px 0px 0px 420px;
  height: 50vh;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  
}