* {font-family: 'Times New Roman', Times, serif;
    
  }
  body {
    background-image: "banner.jpg";
    background-color: rgb(42, 57, 167);
    background-position: cover;
  }
   .content h1 {
    text-align: center;
   }
.container{
    flex:1;
    text-align: center;
}
.container ul{
    display: inline;
}
.container ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.container ul a{
    color: #060606;
    text-decoration: none;
    font-size: 18px;
}
.container ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: rgb(1, 1, 1);
    display: block;
    margin: auto;
}
.container ul li:hover:after{
    width: 100%;
}
.container li:hover {
    color: rgb(228, 54, 54);
}
  #form-in {
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 5px;
  }
  #form-in input, #form-in select{
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
    width: 100%;
    padding: 0.7em 0;
    margin-right: 0.7em;
  }
  #form-in button {
    background: lightgrey;
    padding: 0.7em;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  #form-in button:hover {
    background: rgb(42, 57, 167);
  }
  
  label {
    text-align: right;
    display: flex;
  }
  
  input {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  input:focus {
    outline: 3px solid rgb(42, 57, 167);
  }
  
  @media (min-width: 400px) {
    #form-in {
      overflow: hidden;
    }
  
    label {
      float: left;
      width: 200px;
    }
  
    input {
      float: left;
      width: calc(100% - 200px);
    }
  
    #form-in button {
      float: right;
      width: calc(100% - 200px);
    }
  } 
  .medsos li {
    height: 40px;
    width: 40px;
}
#hasil {
  width: 100%;
  border-collapse: collapse;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#hasil th,
#hasil td {
  padding: 10px;
  border: 2px solid #000000;
  text-align: center;
}

#hasil th {
  background-color: lightgray;
  font-weight: bold;
}

#Outputbody tr:nth-child(even) {
  background-color: #f9f9f9;
}